<div class="sidebar p-4">
    <h2 class="text-center">Gestión de Usuarios</h2>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link btn btn-primary text-white" routerLink="/admin/post/create">
            <i class="fas fa-user-plus"></i> Agregar Usuario
        </a>
    </li>
    
    
      <li class="nav-item">
        <a class="nav-link btn btn-success text-white" routerLink="/admin/post/list"><i class="fas fa-users"></i> Listar Usuario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-warning text-white" href="#"><i class="fas fa-user-edit"></i> Actualizar Usuario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-danger text-white" href="#"><i class="fas fa-user-times"></i> Eliminar Usuario</a>
      </li>
    </ul>
  </div>
  