<!-- app-sidebar.component.html -->
<div class="sidebar p-4">
  <h2 class="text-center">Gestión de Usuarios</h2>
  <ul class="nav flex-column">
      <li class="nav-item">
          <a class="nav-link btn btn-primary text-white" routerLink="/admin/post/create">
              <i class="fas fa-user-plus"></i> Agregar Usuario
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link btn btn-success text-white" routerLink="/admin/post/list">
              <i class="fas fa-users"></i> Listar Usuario
          </a>
      </li>
      <li class="nav-item">
          <h3 class="text-center mt-4">Video</h3>
          <iframe width="100%" height="400" src="https://www.youtube.com/embed/OH9MWSuhX5Y?autoplay=1&mute=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </li>
  </ul>
</div>
