<div class="sidebar p-4 bg-dark text-white">
    <h2 class="text-center">Gestión de Usuarios</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link btn btn-primary text-white mb-2" routerLink="/admin/post/create">
                <i class="fas fa-user-plus"></i> Agregar Usuario
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-success text-white mb-2" routerLink="/admin/post/list">
                <i class="fas fa-users"></i> Listar Usuario
            </a>
        </li>
        <li class="nav-item">
            <h3 class="text-center mt-4">Un disquito de Diome𓆰𓆪</h3>
            <div class="embed-responsive embed-responsive-1by1" style="height: 450px; width: 100%;">
                <iframe class="embed-responsive-item" 
                        src="https://www.youtube.com/embed/GLsCt1cu84s?si=2seZoFmvmutKh766&autoplay=1&mute=0" 
                        frameborder="0" 
                        allow="autoplay; encrypted-media" 
                        allowfullscreen>
                </iframe>
            </div>
        </li>
    </ul>
</div>
